.content{
    
    flex: 0.8;
    color: black;
    height: 100vh;
    background-color: #F7F8FA;
    overflow-y: overlay;
    
    

}

.content::-webkit-scrollbar{
    display: none;
}

.featuredVideo-title{
    
    flex: 0.6;
    max-width: 1000px;

}


.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}

.artist-title{
    display: flex;
    flex: 0.4;
    margin-top: 20px;
   
}

