.leftComponent{
    
    flex: 0.2;
    background-color: #EFF0F5;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 230px;
    

}

.logo{
    height: 90px;
    padding: 10px;
    margin-right: auto;

}

.video-logo{
    color: blueviolet;
}

