.songRow-album{
   
    height: 140px;
    width: 250px;
}
.album-Image{
    display: flex;
    flex-direction: row;
}
.songRow {

   margin-left: 20px;
   padding: 20px;

}

.songRow:hover{
    cursor: pointer;
    max-width: 150px;
    background-color: black;
    opacity: 0.5;
}