.topMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.topMenu-left{
    flex: 0.6;
    min-width: 70px;
    display: flex;
    background-color: white;
    color: gray;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;

}

.topMenu-left > input{
    border: none;
    width: 100%;
    margin-left: 5px;
}

.topMenu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0.4;
    padding: 10px 15px;
    padding-right: 20px;
}

.header1{
    margin-right: 15px;
}

